<% @turbines.each do |item| %>
<!--  <ul>-->
<!--    <li><%#= item.name %></li>-->
<!--    <li><%#= item.maximum_power %></li>-->
<!--    <li><%#= item.tower_height %></li>-->
<!--  </ul>-->
<% end %>